# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyA2uiKZp3_5yPMWktRliAnEm4z0QOyv4D0

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
path = "../WeatherPy/Output/weather_data.csv"

weather_data = pd.read_csv(path)

In [4]:
weather_data

,Unnamed: 0,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,punta arenas,cl,-53.15,-70.92,51.40,61,40,43.62
1,1,beringovskiy,ru,63.05,179.32,24.03,86,0,8.32
2,2,kapaa,us,22.08,-159.32,64.40,93,1,5.82
3,3,rikitea,pf,-23.12,-134.97,74.64,72,100,10.40
4,4,chuy,uy,-33.70,-53.46,60.46,65,40,14.43
...,...,...,...,...,...,...,...,...,...
495,495,menongue,ao,-14.66,17.69,73.85,55,78,0.56
496,496,verkhnyaya inta,ru,65.98,60.31,36.09,93,100,14.25
497,497,filadelfia,py,-22.35,-60.03,82.81,49,67,18.43
498,498,atambua,id,-9.11,124.89,75.20,84,20,1.81
499,499,tabas,ir,33.60,56.92,62.60,14,0,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

locations = weather_data[['Latitude (N+/S-)', 'Longitude (E+/W-)']].astype(float)

humidity = weather_data['Humidity (%)'].astype(float)

In [6]:
fig = gmaps.figure()

humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(humidity_layer)

In [7]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
try:
    weather_data.dropna()
    weather_data = weather_data.drop(['Unnamed: 0'], axis=1)
except KeyError:
    pass

In [9]:
### NARROWING DOWN DATA WITH USER INPUTS
try:
    #Desired Temp
    max_temp = int(input("What is your desired maximum      temperature? (in farinheit): "))
    min_temp = int(input("What is your desired minimum temperature? (in farinheit): "))
        #Desired Humid
    max_humid = int(input("What is your desired maximunm humidity level? (in percentage, please choose a number between 0 and 100):"))
        #Desired Clouds
    max_cloud = int(input("What is your desired maximum cloud coverage? (in   percentage, please choose a number between 0 and 100): "))
        #Desired Wind Speed
    max_wind = int(input("What is your desired maximum wind speed? (in mph): "))
except ValueError:
        print("Sorry, the last value you placed was not a valid value, please try again.")
    #Narrow down list based on single call loc checks

ideal_weather = weather_data.loc[(weather_data['Humidity (%)'] < max_humid) | (weather_data['Cloudiness (%)'] < max_cloud) | (weather_data['Wind Speed (mph)'] < max_wind), :]

#Narrows down into ideal temp range with seperate loc check
ideal_weather = ideal_weather[(ideal_weather['Temperature (F)'] >= min_temp) & (ideal_weather['Temperature (F)'] <= max_temp)]

#Message to show how many cities in list pass all limits
if (len(ideal_weather)) == 0:
        print(f"There are {(len(ideal_weather))} cities available with your desired weather, please try again with wider limits")
if (len(ideal_weather)) > 200:
        print(f"Too many cities with ideal weather, please narrow your scope and try again.")
print(f"There are {(len(ideal_weather))} cities available with your ideal weather right now!")

There are 15 cities available with your ideal weather right now!

In [10]:
# IdealWeather()

# ideal_weather = IdealWeather()

In [11]:
# ideal_weather = weather_data.loc[(weather_data['Humidity (%)'] < max_humid) | (weather_data['Cloudiness (%)'] < max_cloud) | (weather_data['Wind Speed (mph)'] < max_wind), :]

# #Narrows down into ideal temp range with seperate loc check
# ideal_weather = ideal_weather[(ideal_weather['Temperature (F)'] >= min_temp) & (ideal_weather['Temperature (F)'] <= max_temp)]

# #Message to show how many cities in list pass all limits
# if (len(ideal_weather)) == 0:
#      print(f"There are {(len(ideal_weather))} cities available with your desired weather, please try again with wider limits")
# if (len(ideal_weather)) > 200:
#     print(f"Too many cities with ideal weather, please narrow your scope and try again.")
# print(f"There are {(len(ideal_weather))} cities available with your ideal weather right now!")

In [12]:
ideal_weather

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
34,nishihara,jp,26.18,127.76,72.91,78,75,4.70
73,hojai,in,26.00,92.87,72.30,91,36,1.68
107,marsa matruh,eg,31.35,27.25,73.40,53,0,11.41
150,hilo,us,19.73,-155.09,72.90,73,90,4.70
172,harpalpur,in,25.29,79.33,72.59,30,0,3.96
187,masvingo,zw,-20.06,30.83,73.26,21,0,9.35
320,tshikapa,cd,-6.42,20.80,74.07,88,92,2.24
322,sun city west,us,33.66,-112.34,72.45,24,1,6.42
327,bhag,pk,29.04,67.82,72.41,18,0,3.02
335,vao,nc,-22.67,167.48,73.09,84,1,15.84
372,ndungu,tz,-4.37,38.05,74.05,71,72,3.33
394,sambava,mg,-14.27,50.17,73.67,83,3,12.24
418,chabahar,ir,25.29,60.64,73.40,60,0,8.93
463,pimentel,pe,-6.84,-79.93,73.40,60,0,20.80
495,menongue,ao,-14.66,17.69,73.85,55,78,0.56

In [13]:
try:
    ideal_weather = ideal_weather.drop(['Unnamed: 0'], axis=1)
    print("Deleted undessesary column")
except KeyError:
    print("No Need to delete column, already deleted")
    pass

No Need to delete column, already deleted

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = ideal_weather.copy()

hotel_df["Hotel Name"] = ""
hotel_df['Hotel Latitude'] = ''
hotel_df['Hotel Longitude'] = ''


hotel_df

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
34,nishihara,jp,26.18,127.76,72.91,78,75,4.70,,,
73,hojai,in,26.00,92.87,72.30,91,36,1.68,,,
107,marsa matruh,eg,31.35,27.25,73.40,53,0,11.41,,,
150,hilo,us,19.73,-155.09,72.90,73,90,4.70,,,
172,harpalpur,in,25.29,79.33,72.59,30,0,3.96,,,
187,masvingo,zw,-20.06,30.83,73.26,21,0,9.35,,,
320,tshikapa,cd,-6.42,20.80,74.07,88,92,2.24,,,
322,sun city west,us,33.66,-112.34,72.45,24,1,6.42,,,
327,bhag,pk,29.04,67.82,72.41,18,0,3.02,,,
335,vao,nc,-22.67,167.48,73.09,84,1,15.84,,,
372,ndungu,tz,-4.37,38.05,74.05,71,72,3.33,,,
394,sambava,mg,-14.27,50.17,73.67,83,3,12.24,,,
418,chabahar,ir,25.29,60.64,73.40,60,0,8.93,,,
463,pimentel,pe,-6.84,-79.93,73.40,60,0,20.80,,,
495,menongue,ao,-14.66,17.69,73.85,55,78,0.56,,,

In [15]:
radius = 8000
search = "hotel"

params = {"radius": radius,
        "type": search,
        "key": g_key
    }

for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    search_lat = row['Latitude (N+/S-)']
    search_lon = row['Longitude (E+/W-)']

    params['location'] = f"{search_lat},{search_lon}"

    city_confirm = row['City']
    state_confirm = row['Country Code']

    response = requests.get(base_url, params=params)
    hotel_data = response.json()

    #print(response.url)

    try:
        hotel_df.loc[index, 'Hotel Name'] = hotel_data["results"][1]["name"]
        hotel_df.loc[index, 'Hotel Latitude'] = hotel_data["results"][1]["geometry"]["location"]["lat"]
        hotel_df.loc[index, 'Hotel Longitude'] = hotel_data["results"][1]["geometry"]["location"]["lng"]
        print(f"Found hotel for {city_confirm}, {state_confirm}!")
    except (KeyError, IndexError):
        print("No Hotels found, skipping city")
        continue

print("----------------------------------")
print("Hotel Search Complete!")

Found hotel for nishihara, jp!
Found hotel for hojai, in!
Found hotel for marsa matruh, eg!
Found hotel for hilo, us!
Found hotel for harpalpur, in!
Found hotel for masvingo, zw!
Found hotel for tshikapa, cd!
Found hotel for sun city west, us!
Found hotel for bhag, pk!
Found hotel for vao, nc!
Found hotel for ndungu, tz!
Found hotel for sambava, mg!
Found hotel for chabahar, ir!
Found hotel for pimentel, pe!
Found hotel for menongue, ao!
----------------------------------
Hotel Search Complete!

In [16]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df['Hotel Latitude'].replace('', np.nan, inplace=True)
hotel_df['Hotel Longitude'].replace('', np.nan, inplace=True)

hotel_df.dropna(inplace=True)

In [17]:
hotel_df

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
34,nishihara,jp,26.18,127.76,72.91,78,75,4.70,DoubleTree by Hilton Hotel Naha Shuri Castle,26.220635,127.710710
73,hojai,in,26.00,92.87,72.30,91,36,1.68,Smriti Herbs & Biofuel Farm,26.008370,92.859192
107,marsa matruh,eg,31.35,27.25,73.40,53,0,11.41,Porto Matrouh Beach Resort,31.369562,27.170195
150,hilo,us,19.73,-155.09,72.90,73,90,4.70,Hilo Hawaiian Hotel,19.728404,-155.066467
172,harpalpur,in,25.29,79.33,72.59,30,0,3.96,State Bank ATM,25.290082,79.329782
187,masvingo,zw,-20.06,30.83,73.26,21,0,9.35,Rujeko A,-20.083452,30.838668
320,tshikapa,cd,-6.42,20.80,74.07,88,92,2.24,Advans Agence TSHIKAPA,-6.424082,20.790587
322,sun city west,us,33.66,-112.34,72.45,24,1,6.42,Holiday Inn Express & Suites Surprise,33.633995,-112.377135
327,bhag,pk,29.04,67.82,72.41,18,0,3.02,Gyan medical store,29.039871,67.821531
335,vao,nc,-22.67,167.48,73.09,84,1,15.84,Hotel Kou-Bugny,-22.659695,167.443914
372,ndungu,tz,-4.37,38.05,74.05,71,72,3.33,Nick Resort,-4.372630,38.053087
394,sambava,mg,-14.27,50.17,73.67,83,3,12.24,DHL Express,-14.266749,50.166500
418,chabahar,ir,25.29,60.64,73.40,60,0,8.93,Iran air,25.288711,60.637978
463,pimentel,pe,-6.84,-79.93,73.40,60,0,20.80,Casona Del Muelle,-6.835117,-79.937271
495,menongue,ao,-14.66,17.69,73.85,55,78,0.56,Ritz Lauca,-14.655517,17.684072

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country Code}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Hotel Latitude", "Hotel Longitude"]].astype(float)

In [19]:
hotel_df.to_csv("Output/Hotels_In_Ideal_Weather.csv", encoding="utf-8", index=False)

In [20]:
# Add marker layer ontop of heat map

hotel_markers = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)

fig.add_layer(hotel_markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))