# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyA2uiKZp3_5yPMWktRliAnEm4z0QOyv4D0

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
path = "../WeatherPy/Output/weather_data.csv"

weather_data = pd.read_csv(path)

In [4]:
weather_data

,Unnamed: 0,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,east london,za,-33.02,27.91,65.34,73,100,12.84
1,1,port alfred,za,-33.59,26.89,64.15,79,69,14.85
2,2,severo-kurilsk,ru,50.68,156.12,42.44,73,83,20.58
3,3,beringovskiy,ru,63.05,179.32,18.50,95,99,11.90
4,4,hilo,us,19.73,-155.09,80.87,54,40,3.36
...,...,...,...,...,...,...,...,...,...
995,995,hun,ly,29.13,15.95,65.55,58,42,8.08
996,996,coquimbo,cl,-29.95,-71.34,60.80,67,20,10.29
997,997,poso,id,-1.40,120.75,80.01,72,98,5.03
998,998,novyy urengoy,ru,66.08,76.63,29.88,99,100,12.59
999,999,digby,ca,44.62,-65.77,43.00,59,0,11.01

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

locations = weather_data[['Latitude (N+/S-)', 'Longitude (E+/W-)']].astype(float)

humidity = weather_data['Humidity (%)'].astype(float)

In [6]:
fig = gmaps.figure()

humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(humidity_layer)

In [7]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
try:
    weather_data.dropna()
    weather_data = weather_data.drop(['Unnamed: 0'], axis=1)
except KeyError:
    pass

In [9]:
### NARROWING DOWN DATA WITH USER INPUTS
try:
    #Desired Temp
    max_temp = int(input("What is your desired maximum      temperature? (in farinheit): "))
    min_temp = int(input("What is your desired minimum temperature? (in farinheit): "))
        #Desired Humid
    max_humid = int(input("What is your desired maximunm humidity level? (in percentage, please choose a number between 0 and 100):"))
        #Desired Clouds
    max_cloud = int(input("What is your desired maximum cloud coverage? (in   percentage, please choose a number between 0 and 100): "))
        #Desired Wind Speed
    max_wind = int(input("What is your desired maximum wind speed? (in mph): "))
except ValueError:
        print("Sorry, the last value you placed was not a valid value, please try again.")
    #Narrow down list based on single call loc checks

ideal_weather = weather_data.loc[(weather_data['Humidity (%)'] < max_humid) | (weather_data['Cloudiness (%)'] < max_cloud) | (weather_data['Wind Speed (mph)'] < max_wind), :]

#Narrows down into ideal temp range with seperate loc check
ideal_weather = ideal_weather[(ideal_weather['Temperature (F)'] >= min_temp) & (ideal_weather['Temperature (F)'] <= max_temp)]

#Message to show how many cities in list pass all limits
if (len(ideal_weather)) == 0:
        print(f"There are {(len(ideal_weather))} cities available with your desired weather, please try again with wider limits")
if (len(ideal_weather)) > 200:
        print(f"Too many cities with ideal weather, please narrow your scope and try again.")
print(f"There are {(len(ideal_weather))} cities available with your ideal weather right now!")

There are 27 cities available with your ideal weather right now!

In [10]:
ideal_weather

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
47,ndele,cf,8.41,20.65,73.85,78,0,3.02
78,lere,ng,10.39,8.57,74.03,33,1,3.49
97,lompoc,us,34.64,-120.46,73.56,37,1,4.85
105,georgetown,sh,-7.93,-14.42,74.71,80,28,19.10
174,california city,us,35.13,-117.99,74.98,9,1,8.05
190,boende,cd,-0.22,20.87,73.17,89,14,2.21
218,talara,pe,-4.58,-81.27,73.40,69,0,12.75
346,mae sai,th,20.43,99.88,73.22,100,40,2.24
351,hondo,us,29.35,-99.14,74.37,28,1,9.17
374,ibotirama,br,-12.19,-43.22,74.43,83,100,2.68
379,port hedland,au,-20.32,118.57,73.40,88,0,6.93
450,kendari,id,-3.94,122.50,74.73,91,85,3.22
486,sakakah,sa,29.97,40.21,73.40,11,0,6.93
634,gladstone,au,-23.85,151.25,73.40,83,75,2.24
642,ukiah,us,39.15,-123.21,73.65,26,1,3.15
700,atambua,id,-9.11,124.89,74.88,79,55,3.44
707,mbandaka,cd,0.05,18.26,73.36,92,43,0.87
727,bilma,ne,18.69,12.92,74.28,21,0,8.28
742,vao,nc,-22.67,167.48,73.42,82,28,14.70
809,pringsewu,id,-5.36,104.97,73.62,91,79,3.38
822,mouila,ga,-1.87,11.06,73.36,95,100,4.38
846,khao yoi,th,13.24,99.82,73.99,83,98,4.94
863,chikwawa,mw,-16.03,34.80,73.31,76,20,3.96
892,lahat,id,-3.80,103.53,73.44,92,100,0.94
934,yeppoon,au,-23.13,150.73,73.40,83,90,4.70
949,bundaberg,au,-24.85,152.35,73.94,94,15,8.05
953,paita,pe,-5.09,-81.11,73.40,69,0,12.75

In [11]:
try:
    ideal_weather = ideal_weather.drop(['Unnamed: 0'], axis=1)
    print("Deleted undessesary column")
except KeyError:
    print("No Need to delete column, already deleted")
    pass

No Need to delete column, already deleted

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = ideal_weather.copy()

hotel_df["Hotel Name"] = ""
hotel_df['Hotel Latitude'] = ''
hotel_df['Hotel Longitude'] = ''


hotel_df

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
47,ndele,cf,8.41,20.65,73.85,78,0,3.02,,,
78,lere,ng,10.39,8.57,74.03,33,1,3.49,,,
97,lompoc,us,34.64,-120.46,73.56,37,1,4.85,,,
105,georgetown,sh,-7.93,-14.42,74.71,80,28,19.10,,,
174,california city,us,35.13,-117.99,74.98,9,1,8.05,,,
190,boende,cd,-0.22,20.87,73.17,89,14,2.21,,,
218,talara,pe,-4.58,-81.27,73.40,69,0,12.75,,,
346,mae sai,th,20.43,99.88,73.22,100,40,2.24,,,
351,hondo,us,29.35,-99.14,74.37,28,1,9.17,,,
374,ibotirama,br,-12.19,-43.22,74.43,83,100,2.68,,,
379,port hedland,au,-20.32,118.57,73.40,88,0,6.93,,,
450,kendari,id,-3.94,122.50,74.73,91,85,3.22,,,
486,sakakah,sa,29.97,40.21,73.40,11,0,6.93,,,
634,gladstone,au,-23.85,151.25,73.40,83,75,2.24,,,
642,ukiah,us,39.15,-123.21,73.65,26,1,3.15,,,
700,atambua,id,-9.11,124.89,74.88,79,55,3.44,,,
707,mbandaka,cd,0.05,18.26,73.36,92,43,0.87,,,
727,bilma,ne,18.69,12.92,74.28,21,0,8.28,,,
742,vao,nc,-22.67,167.48,73.42,82,28,14.70,,,
809,pringsewu,id,-5.36,104.97,73.62,91,79,3.38,,,
822,mouila,ga,-1.87,11.06,73.36,95,100,4.38,,,
846,khao yoi,th,13.24,99.82,73.99,83,98,4.94,,,
863,chikwawa,mw,-16.03,34.80,73.31,76,20,3.96,,,
892,lahat,id,-3.80,103.53,73.44,92,100,0.94,,,
934,yeppoon,au,-23.13,150.73,73.40,83,90,4.70,,,
949,bundaberg,au,-24.85,152.35,73.94,94,15,8.05,,,
953,paita,pe,-5.09,-81.11,73.40,69,0,12.75,,,

In [13]:
radius = 8000
search = "hotel"

params = {"radius": radius,
        "type": search,
        "key": g_key
    }

for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    search_lat = row['Latitude (N+/S-)']
    search_lon = row['Longitude (E+/W-)']

    params['location'] = f"{search_lat},{search_lon}"

    city_confirm = row['City']
    state_confirm = row['Country Code']

    response = requests.get(base_url, params=params)
    hotel_data = response.json()

    #print(response.url)

    try:
        hotel_df.loc[index, 'Hotel Name'] = hotel_data["results"][1]["name"]
        hotel_df.loc[index, 'Hotel Latitude'] = hotel_data["results"][1]["geometry"]["location"]["lat"]
        hotel_df.loc[index, 'Hotel Longitude'] = hotel_data["results"][1]["geometry"]["location"]["lng"]
        print(f"Found hotel for {city_confirm}, {state_confirm}!")
    except (KeyError, IndexError):
        print("No Hotels found, skipping city")
        continue

print("----------------------------------")
print("Hotel Search Complete!")

Found hotel for ndele, cf!
Found hotel for lere, ng!
Found hotel for lompoc, us!
Found hotel for georgetown, sh!
Found hotel for california city, us!
Found hotel for boende, cd!
Found hotel for talara, pe!
Found hotel for mae sai, th!
Found hotel for hondo, us!
Found hotel for ibotirama, br!
Found hotel for port hedland, au!
Found hotel for kendari, id!
Found hotel for sakakah, sa!
Found hotel for gladstone, au!
Found hotel for ukiah, us!
Found hotel for atambua, id!
Found hotel for mbandaka, cd!
Found hotel for bilma, ne!
Found hotel for vao, nc!
Found hotel for pringsewu, id!
Found hotel for mouila, ga!
Found hotel for khao yoi, th!
Found hotel for chikwawa, mw!
Found hotel for lahat, id!
Found hotel for yeppoon, au!
Found hotel for bundaberg, au!
Found hotel for paita, pe!
----------------------------------
Hotel Search Complete!

In [14]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df['Hotel Latitude'].replace('', np.nan, inplace=True)
hotel_df['Hotel Longitude'].replace('', np.nan, inplace=True)

hotel_df.dropna(inplace=True)

In [15]:
hotel_df

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
47,ndele,cf,8.41,20.65,73.85,78,0,3.02,"L'hôpital N'Délé, এন'দেলে হাসপাতাল",8.411064,20.649835
78,lere,ng,10.39,8.57,74.03,33,1,3.49,Oando - Bazamri Nigeria Ltd,10.383304,8.574032
97,lompoc,us,34.64,-120.46,73.56,37,1,4.85,Holiday Inn Express Lompoc,34.662502,-120.458466
105,georgetown,sh,-7.93,-14.42,74.71,80,28,19.10,Grotto of Our Lady of Ascension,-7.956022,-14.401866
174,california city,us,35.13,-117.99,74.98,9,1,8.05,Best Western California City Inn & Suites,35.125187,-117.944321
190,boende,cd,-0.22,20.87,73.17,89,14,2.21,socearuco,-0.283113,20.884934
218,talara,pe,-4.58,-81.27,73.40,69,0,12.75,Las Dunas de Vichayito,-4.554844,-81.214327
346,mae sai,th,20.43,99.88,73.22,100,40,2.24,Piyaporn Hill Paradise Hotel,20.440282,99.879696
351,hondo,us,29.35,-99.14,74.37,28,1,9.17,Regency Inn,29.348199,-99.119618
374,ibotirama,br,-12.19,-43.22,74.43,83,100,2.68,Diagnodente - Centro de Saúde Bucal,-12.180366,-43.217629
379,port hedland,au,-20.32,118.57,73.40,88,0,6.93,The Esplanade Hotel,-20.313925,118.576081
450,kendari,id,-3.94,122.50,74.73,91,85,3.22,Hotel Wixel,-3.968276,122.531385
486,sakakah,sa,29.97,40.21,73.40,11,0,6.93,Fakhamat Al Orjoana Apartment,29.946421,40.193125
634,gladstone,au,-23.85,151.25,73.40,83,75,2.24,Highpoint International,-23.841529,151.255398
642,ukiah,us,39.15,-123.21,73.65,26,1,3.15,Hampton Inn Ukiah,39.133643,-123.199459
700,atambua,id,-9.11,124.89,74.88,79,55,3.44,Pegadaian Betun,-9.101068,124.890999
707,mbandaka,cd,0.05,18.26,73.36,92,43,0.87,Banque Internationale pour l'Afrique au Congo,0.058146,18.260435
727,bilma,ne,18.69,12.92,74.28,21,0,8.28,Централна джамия Билма,18.688067,12.919485
742,vao,nc,-22.67,167.48,73.42,82,28,14.70,Hotel Kou-Bugny,-22.659695,167.443914
809,pringsewu,id,-5.36,104.97,73.62,91,79,3.38,OYO 1017 Regency Hotel,-5.378314,105.032074
822,mouila,ga,-1.87,11.06,73.36,95,100,4.38,Hôtel du Lac Bleu,-1.871595,11.053327
846,khao yoi,th,13.24,99.82,73.99,83,98,4.94,Tham Khao YOI,13.234875,99.828052
863,chikwawa,mw,-16.03,34.80,73.31,76,20,3.96,Development Initiative Network (Malawi),-16.041650,34.804489
892,lahat,id,-3.80,103.53,73.44,92,100,0.94,Hotel Grand Zuri,-3.776456,103.569822
934,yeppoon,au,-23.13,150.73,73.40,83,90,4.70,Villa Mar Colina,-23.126468,150.748681
949,bundaberg,au,-24.85,152.35,73.94,94,15,8.05,Takalvan Motel,-24.872265,152.333805
953,paita,pe,-5.09,-81.11,73.40,69,0,12.75,Hotel Náutico de Paita,-5.083949,-81.115680

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country Code}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Hotel Latitude", "Hotel Longitude"]].astype(float)

In [17]:
hotel_df.to_csv("Output/Hotels_In_Ideal_Weather.csv", encoding="utf-8", index=False)

In [18]:
# Add marker layer ontop of heat map

hotel_markers = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)

fig.add_layer(hotel_markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))