In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [10]:
print(g_key)

AIzaSyA2uiKZp3_5yPMWktRliAnEm4z0QOyv4D0

In [3]:
path = "../WeatherPy/Output/weather_data.csv"

weather_data = pd.read_csv(path)

weather_data.head()

,Unnamed: 0,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,punta arenas,cl,-53.15,-70.92,51.40,61,40,43.62
1,1,beringovskiy,ru,63.05,179.32,24.03,86,0,8.32
2,2,kapaa,us,22.08,-159.32,64.40,93,1,5.82
3,3,rikitea,pf,-23.12,-134.97,74.64,72,100,10.40
4,4,chuy,uy,-33.70,-53.46,60.46,65,40,14.43

In [42]:
test_df = weather_data.iloc[0:2, :]

test_df["Hotel Name"] = ""
test_df['Hotel Latitude'] = ''
test_df['Hotel Longitude'] = ''

test_df

,Unnamed: 0,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
0,0,punta arenas,cl,-53.15,-70.92,51.40,61,40,43.62,,,
1,1,beringovskiy,ru,63.05,179.32,24.03,86,0,8.32,,,

In [27]:
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?keyword=nice&radius=8000&type=hotel&key=AIzaSyA2uiKZp3_5yPMWktRliAnEm4z0QOyv4D0&location=-53.15%2C-70.92

In [45]:
radius = 8000
hotel = "hotel"

params = {"radius": radius,
        "type": hotel,
        "key": g_key
    }

for index, row in test_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    search_lat = row['Latitude (N+/S-)']
    search_lon = row['Longitude (E+/W-)']

    params['location'] = f"{search_lat},{search_lon}"
    
    city_confirm = row['City']
    state_confirm = row['Country Code']

    response = requests.get(base_url, params=params)
    hotel_data = response.json()

    print(response.url)

    try:
        test_df.loc[index, 'Hotel Name'] = hotel_data["results"][1]["name"]
        test_df.loc[index, 'Hotel Latitude'] = hotel_data["results"][1]["geometry"]["location"]["lat"]
        test_df.loc[index, 'Hotel Longitude'] = hotel_data["results"][1]["geometry"]["location"]["lng"]
        print(f"Found hotel for {city_confirm}, {state_confirm}!")
    except (KeyError, IndexError):
        print("No Hotels found, skipping city")
        continue

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=8000&type=hotel&key=AIzaSyA2uiKZp3_5yPMWktRliAnEm4z0QOyv4D0&location=-53.15%2C-70.92
Found hotel for punta arenas, cl!
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=8000&type=hotel&key=AIzaSyA2uiKZp3_5yPMWktRliAnEm4z0QOyv4D0&location=63.05%2C179.32
Found hotel for beringovskiy, ru!

In [46]:
test_df

,Unnamed: 0,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
0,0,punta arenas,cl,-53.15,-70.92,51.40,61,40,43.62,Hotel Dreams Del Estrecho,-53.166,-70.9062
1,1,beringovskiy,ru,63.05,179.32,24.03,86,0,8.32,Shkola,63.0639,179.355

In [55]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country Code}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in test_df.iterrows()]
locations = test_df[["Hotel Latitude", "Hotel Longitude"]]

In [56]:
test_df

,Unnamed: 0,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
0,0,punta arenas,cl,-53.15,-70.92,51.40,61,40,43.62,Hotel Dreams Del Estrecho,-53.166,-70.9062
1,1,beringovskiy,ru,63.05,179.32,24.03,86,0,8.32,Shkola,63.0639,179.355

In [57]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

In [58]:
# Add marker layer ontop of heat map

hotel_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(hotel_markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))