# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
print(g_key)

AIzaSyA2uiKZp3_5yPMWktRliAnEm4z0QOyv4D0

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
path = "../WeatherPy/Output/weather_data.csv"

weather_data = pd.read_csv(path)

In [4]:
weather_data

,Unnamed: 0,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,punta arenas,cl,-53.15,-70.92,51.40,61,40,43.62
1,1,beringovskiy,ru,63.05,179.32,24.03,86,0,8.32
2,2,kapaa,us,22.08,-159.32,64.40,93,1,5.82
3,3,rikitea,pf,-23.12,-134.97,74.64,72,100,10.40
4,4,chuy,uy,-33.70,-53.46,60.46,65,40,14.43
...,...,...,...,...,...,...,...,...,...
495,495,menongue,ao,-14.66,17.69,73.85,55,78,0.56
496,496,verkhnyaya inta,ru,65.98,60.31,36.09,93,100,14.25
497,497,filadelfia,py,-22.35,-60.03,82.81,49,67,18.43
498,498,atambua,id,-9.11,124.89,75.20,84,20,1.81
499,499,tabas,ir,33.60,56.92,62.60,14,0,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

locations = weather_data[['Latitude (N+/S-)', 'Longitude (E+/W-)']].astype(float)

humidity = weather_data['Humidity (%)'].astype(float)

In [11]:
fig = gmaps.figure()

humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(humidity_layer)

In [12]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [47]:
weather_data.dropna()
weather_data = weather_data.drop(['Unnamed: 0'], axis=1)

In [90]:
### NARROWING DOWN DATA WITH USER INPUTS

def IdealWeather():
    try:
        #Desired Temp
        max_temp = int(input("What is your desired maximum      temperature? (in farinheit): "))
        min_temp = int(input("What is your desired minimum temperature? (in farinheit): "))
        #Desired Humid (>50)
        max_humid = int(input("What is your desired maximunm humidity level? (in percentage, please choose a number between 0 and 100):"))
        #Desired Clouds (>75)
        max_cloud = int(input("What is your desired maximum cloud coverage? (in   percentage, please choose a number between 0 and 100): "))
        #Desired Wind Speed (>10)
        max_wind = int(input("What is your desired maximum wind speed? (in mph): "))
    except ValueError:
        print("Sorry, the last value you placed was not a valid value, please try again.")
    #Narrow down list based on single call loc checks
    ideal_weather = weather_data.loc[(weather_data['Humidity (%)'] < max_humid) | (weather_data['Cloudiness (%)'] < max_cloud) | (weather_data['Wind Speed (mph)'] < max_wind), :]

#Narrows down into ideal temp range with seperate loc check
    ideal_weather = ideal_weather[(ideal_weather['Temperature (F)'] >= min_temp) & (ideal_weather['Temperature (F)'] <= max_temp)]

#Message to show how many cities in list pass all limits
    if (len(ideal_weather)) == 0:
        print(f"There are {(len(ideal_weather))} cities available with your desired weather, please try again with wider limits")
    if (len(ideal_weather)) > 200:
        print(f"Too many cities with ideal weather, please narrow your scope and try again.")
    else:
        print(f"There are {(len(ideal_weather))} cities available with your ideal weather right now!")

In [91]:
IdealWeather()

There are 29 cities available with your ideal weather right now!

In [92]:
try:
    ideal_weather = ideal_weather.drop(['Unnamed: 0'], axis=1)
    print("Deleted undessesary column")
    ideal_weather
except KeyError:
    print("No Need to delete column, already deleted")
    pass

No Need to delete column, already deleted

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [93]:
hotel_df = ideal_weather.copy()

hotel_df["Hotel Name"] = ""
hotel_df['Hotel Latitude'] = ''
hotel_df['Hotel Longitude'] = ''


hotel_df

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
2,kapaa,us,22.08,-159.32,64.40,93,1,5.82,,,
10,vaini,to,-21.20,-175.20,69.80,77,20,6.93,,,
16,ochamchira,ge,42.71,41.47,69.51,45,0,1.88,,,
99,najran,sa,17.49,44.13,69.80,35,0,4.70,,,
109,ribeira grande,pt,38.52,-28.70,66.20,93,75,2.24,,,
121,rawson,ar,-43.30,-65.10,64.63,28,0,3.33,,,
124,pacific grove,us,36.62,-121.92,61.05,29,1,6.71,,,
135,yokadouma,cm,3.52,15.05,69.60,94,99,1.41,,,
137,isiro,cd,2.77,27.62,67.93,99,100,1.16,,,
143,bandipur,in,11.67,76.63,64.42,81,60,0.72,,,
156,walvis bay,na,-22.96,14.51,65.05,56,5,19.46,,,
177,ramanuj ganj,in,23.80,83.70,63.18,55,0,3.69,,,
183,pisco,pe,-13.70,-76.22,66.54,77,0,11.41,,,
221,coquimbo,cl,-29.95,-71.34,60.80,67,20,14.99,,,
242,kansanshi,zm,-12.10,26.43,68.49,58,75,4.52,,,
253,tazmalt,dz,36.39,4.40,64.40,72,0,3.36,,,
261,katastarion,gr,37.83,20.77,65.39,77,20,4.70,,,
266,rute,es,37.33,-4.37,69.46,33,0,5.82,,,
284,adwa,et,14.16,38.90,64.08,29,0,12.24,,,
291,hervey bay,au,-25.30,152.85,68.00,85,0,1.01,,,
299,mehriz,ir,31.59,54.43,62.60,18,0,6.93,,,
303,luderitz,na,-26.65,15.16,62.42,67,32,28.81,,,
329,villarrica,cl,-39.29,-72.23,66.20,52,0,14.99,,,
345,elliot,za,-31.33,27.85,62.76,67,96,5.37,,,
351,los aquijes,pe,-14.10,-75.69,66.74,77,0,11.41,,,
352,copiapo,cl,-27.37,-70.33,60.80,63,75,8.05,,,
382,pacifica,us,37.61,-122.49,63.23,59,1,2.89,,,
386,roma,au,-26.58,148.78,65.08,34,0,9.31,,,
396,houma,us,29.60,-90.72,65.32,51,1,12.75,,,
402,las vegas,us,36.17,-115.14,68.34,14,1,3.36,,,
409,alofi,nu,-19.06,-169.92,68.00,77,12,10.29,,,
411,chimbote,pe,-9.09,-78.58,68.63,69,30,12.68,,,
413,bone,id,-9.83,124.45,67.46,97,5,1.81,,,
427,lons,fr,43.32,-0.40,61.14,63,0,3.36,,,
439,silao,in,25.08,85.42,66.87,88,0,5.82,,,
449,skala,gr,36.85,22.67,67.24,68,40,4.70,,,
451,port lavaca,us,28.61,-96.63,65.35,37,1,14.99,,,
464,daudnagar,in,25.03,84.40,66.20,88,0,3.83,,,
483,nizwa,om,22.93,57.53,67.69,29,0,2.51,,,
484,sonari,in,27.07,95.03,69.57,92,13,0.72,,,
499,tabas,ir,33.60,56.92,62.60,14,0,4.70,,,

In [94]:
radius = 8000
hotel = "hotel"

params = {"radius": radius,
        "type": hotel,
        "key": g_key
    }

for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    search_lat = row['Latitude (N+/S-)']
    search_lon = row['Longitude (E+/W-)']

    params['location'] = f"{search_lat},{search_lon}"

    city_confirm = row['City']
    state_confirm = row['Country Code']

    response = requests.get(base_url, params=params)
    hotel_data = response.json()

    #print(response.url)

    try:
        hotel_df.loc[index, 'Hotel Name'] = hotel_data["results"][1]["name"]
        hotel_df.loc[index, 'Hotel Latitude'] = hotel_data["results"][1]["geometry"]["location"]["lat"]
        hotel_df.loc[index, 'Hotel Longitude'] = hotel_data["results"][1]["geometry"]["location"]["lng"]
        print(f"Found hotel for {city_confirm}, {state_confirm}!")
    except (KeyError, IndexError):
        print("No Hotels found, skipping city")
        continue
    print("----------------------------------")
    print("Hotel Search Complete!")

Found hotel for kapaa, us!
Found hotel for vaini, to!
Found hotel for ochamchira, ge!
Found hotel for najran, sa!
Found hotel for ribeira grande, pt!
Found hotel for rawson, ar!
Found hotel for pacific grove, us!
Found hotel for yokadouma, cm!
Found hotel for isiro, cd!
Found hotel for bandipur, in!
Found hotel for walvis bay, na!
Found hotel for ramanuj ganj, in!
Found hotel for pisco, pe!
Found hotel for coquimbo, cl!
Found hotel for kansanshi, zm!
Found hotel for tazmalt, dz!
Found hotel for katastarion, gr!
Found hotel for rute, es!
Found hotel for adwa, et!
Found hotel for hervey bay, au!
Found hotel for mehriz, ir!
Found hotel for luderitz, na!
Found hotel for villarrica, cl!
Found hotel for elliot, za!
Found hotel for los aquijes, pe!
Found hotel for copiapo, cl!
Found hotel for pacifica, us!
Found hotel for roma, au!
Found hotel for houma, us!
Found hotel for las vegas, us!
Found hotel for alofi, nu!
Found hotel for chimbote, pe!
Found hotel for bone, id!
Found hotel for lons, fr!
Found hotel for silao, in!
Found hotel for skala, gr!
Found hotel for port lavaca, us!
Found hotel for daudnagar, in!
Found hotel for nizwa, om!
Found hotel for sonari, in!
Found hotel for tabas, ir!

In [95]:
hotel_df.head()

,City,Country Code,Latitude (N+/S-),Longitude (E+/W-),Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Hotel Name,Hotel Latitude,Hotel Longitude
2,kapaa,us,22.08,-159.32,64.40,93,1,5.82,Sheraton Kauai Resort at Coconut Beach,22.0568,-159.323
10,vaini,to,-21.20,-175.20,69.80,77,20,6.93,Keleti Beach Resort,-21.2037,-175.232
16,ochamchira,ge,42.71,41.47,69.51,45,0,1.88,Resort on Papaskiri 76,42.7123,41.4733
99,najran,sa,17.49,44.13,69.80,35,0,4.70,Ersal Money Transfer,17.4874,44.1312
109,ribeira grande,pt,38.52,-28.70,66.20,93,75,2.24,Hotel do Canal | Horta - Faial,38.5286,-28.627

In [112]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country Code}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Hotel Latitude", "Hotel Longitude"]]

In [113]:
hotel_df.to_csv("Output/Hotels_In_Ideal_Weather.csv", encoding="utf-8", index=False)

In [114]:
# Add marker layer ontop of heat map

hotel_markers = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)

fig.add_layer(hotel_markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))